@charset "UTF-8";
@font-face {
  font-family: 'BebasNeue';
  src: url("fonts/BEBAS.eot");
  src: local("Ôÿ║"), url("fonts/BEBAS.woff") format("woff"), url("fonts/BEBAS.ttf") format("truetype"), url("fonts/BEBAS.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 23, ../scss/main.scss */
#main {
  margin: 0 auto;
}

/* line 27, ../scss/main.scss */
#white {
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  border-right: 1px solid #fff;
}

/* line 33, ../scss/main.scss */
#main-color {
  background-color: #f2f2f2;
}

/* line 37, ../scss/main.scss */
#turquoise {
  color: #46b29d;
  font-family: 'BebasNeue', sans-serif;
}

/* line 42, ../scss/main.scss */
#infotext {
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
}

/* line 47, ../scss/main.scss */
body {
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
}

/* line 52, ../scss/main.scss */
input[type=text] {
  width: 100%;
  border: 1px solid #e0dcda;
  border-radius: 4px;
  margin: 4px 0;
  padding: 5px;
  box-sizing: border-box;
  transition: .3s;
}
/* line 60, ../scss/main.scss */
input[type=text]:focus {
  border-color: #46b29d;
  box-shadow: 0 0 4px 0 #46b29d;
}

/* line 65, ../scss/main.scss */
.inputWithIcon {
  position: relative;
}
/* line 67, ../scss/main.scss */
.inputWithIcon input[type=text] {
  padding-left: 40px;
}
/* line 69, ../scss/main.scss */
.inputWithIcon input[type=text]:focus + i {
  color: #46b29d;
}
/* line 73, ../scss/main.scss */
.inputWithIcon i {
  position: absolute;
  left: 0;
  padding: 13px 12px;
  color: #e0dcda;
  transition: .3s;
}

/* line 82, ../scss/main.scss */
input[type=date] {
  width: 100%;
  border: 1px solid #e0dcda;
  border-radius: 4px;
  margin: 4px 0;
  padding: 5px;
  box-sizing: border-box;
  transition: .3s;
}
/* line 90, ../scss/main.scss */
input[type=date]:focus {
  border-color: #46b29d;
  box-shadow: 0 0 4px 0 #46b29d;
}

/* line 95, ../scss/main.scss */
.inputWithIcon {
  position: relative;
}
/* line 97, ../scss/main.scss */
.inputWithIcon input[type=date] {
  padding-left: 40px;
}
/* line 99, ../scss/main.scss */
.inputWithIcon input[type=date]:focus + i {
  color: #46b29d;
}
/* line 103, ../scss/main.scss */
.inputWithIcon i {
  position: absolute;
  left: 0;
  padding: 13px 12px;
  color: #e0dcda;
  transition: .3s;
}

/* line 112, ../scss/main.scss */
input[type=password] {
  width: 100%;
  border: 1px solid #e0dcda;
  border-radius: 4px;
  margin: 4px 0;
  padding: 5px;
  box-sizing: border-box;
  transition: .3s;
}
/* line 120, ../scss/main.scss */
input[type=password]:focus {
  border-color: #46b29d;
  box-shadow: 0 0 4px 0 #46b29d;
}

/* line 125, ../scss/main.scss */
.inputWithIcon {
  position: relative;
}
/* line 127, ../scss/main.scss */
.inputWithIcon input[type=password] {
  padding-left: 40px;
}
/* line 129, ../scss/main.scss */
.inputWithIcon input[type=password]:focus + i {
  color: #46b29d;
}
/* line 133, ../scss/main.scss */
.inputWithIcon i {
  position: absolute;
  left: 0;
  padding: 13px 12px;
  margin: -40px 0 0 0;
  color: #e0dcda;
  transition: .3s;
}

/* line 143, ../scss/main.scss */
input[type=email] {
  width: 100%;
  border: 1px solid #e0dcda;
  border-radius: 4px;
  margin: 4px 0;
  padding: 5px;
  box-sizing: border-box;
  transition: .3s;
}
/* line 151, ../scss/main.scss */
input[type=email]:focus {
  border-color: #46b29d;
  box-shadow: 0 0 4px 0 #46b29d;
}

/* line 156, ../scss/main.scss */
.inputWithIcon {
  position: relative;
}
/* line 158, ../scss/main.scss */
.inputWithIcon input[type=email] {
  padding-left: 40px;
}
/* line 160, ../scss/main.scss */
.inputWithIcon input[type=email]:focus + i {
  color: #46b29d;
}
/* line 164, ../scss/main.scss */
.inputWithIcon i {
  position: absolute;
  left: 0;
  padding: 13px 12px;
  margin: -40px 0 0 0;
  color: #e0dcda;
  transition: .3s;
}

/* line 174, ../scss/main.scss */
h1 {
  font-family: 'BebasNeue', sans-serif;
  font-size: 25pt;
  color: #000;
  padding: 0;
}

/* line 181, ../scss/main.scss */
#h1-modified {
  margin: 20px 0 20px -13px;
}

/* line 185, ../scss/main.scss */
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin: 0 0 0 -13px;
  padding: 0;
}

/* line 193, ../scss/main.scss */
#login-text {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  margin: 0 0 0 -13px;
}

/* line 199, ../scss/main.scss */
hr {
  margin: 0 0 12px 0;
}

/* line 203, ../scss/main.scss */
.navbar {
  margin: 0 auto;
  background-color: #e0dcda;
  font-family: 'BebasNeue', sans-serif;
  border: none;
}
/* line 209, ../scss/main.scss */
.navbar .navbar-nav {
  width: 100%;
  text-align: center;
}
/* line 212, ../scss/main.scss */
.navbar .navbar-nav > li {
  float: none;
  display: inline-block;
  border-right: 1px solid #adadad;
}
/* line 217, ../scss/main.scss */
.navbar .navbar-nav > li:last-child {
  border-right: none;
}
/* line 220, ../scss/main.scss */
.navbar .navbar-nav > li > a {
  color: #000;
}
/* line 224, ../scss/main.scss */
.navbar .navbar-nav .navbar-right {
  float: right;
}
/* line 229, ../scss/main.scss */
.navbar .navbar-default {
  width: 100%;
  text-align: center;
}
/* line 232, ../scss/main.scss */
.navbar .navbar-default > li {
  float: none;
  display: inline-block;
}
/* line 237, ../scss/main.scss */
.navbar .navbar-default > .active {
  background-color: #f2f2f2;
}

/* line 243, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #f2f2f2;
  color: #e37b40;
}

/* line 250, ../scss/main.scss */
header {
  background-color: #000;
  font-family: 'BebasNeue', sans-serif;
}
/* line 254, ../scss/main.scss */
header .inner {
  margin: 0 auto;
  width: 100%;
  display: block;
}
/* line 261, ../scss/main.scss */
header .btn {
  background-color: #000;
  border: none;
  font-size: 11.5pt;
  float: right;
}
/* line 266, ../scss/main.scss */
header .btn:hover {
  background-color: #000;
}

/* line 272, ../scss/main.scss */
.toast-success {
  background-color: #dff0d8;
}

/* line 276, ../scss/main.scss */
.toast-error {
  background-color: #f2dede;
}

/* line 280, ../scss/main.scss */
.full {
  width: 100%;
}

/* line 284, ../scss/main.scss */
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

/* line 291, ../scss/main.scss */
footer {
  background: #000;
  font-family: 'BebasNeue', sans-serif;
  padding: 40px;
  min-height: auto;
  width: 100%;
  margin: 25px auto;
  position: absolute;
  text-align: center;
}
/* line 301, ../scss/main.scss */
footer div.navbar-nav {
  margin-top: 40px;
  float: none;
  text-align: center;
}
/* line 307, ../scss/main.scss */
footer ul {
  list-style-type: none;
  padding: auto;
}
/* line 311, ../scss/main.scss */
footer ul #social {
  display: flex;
  align-items: center;
}
/* line 317, ../scss/main.scss */
footer li {
  float: left;
  padding-left: 100px;
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  height: auto;
  display: inline-block;
}
/* line 324, ../scss/main.scss */
footer li a {
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  font-size: 12pt;
  display: block;
  text-align: center;
  overflow: hidden;
}
/* line 331, ../scss/main.scss */
footer li a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 339, ../scss/main.scss */
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

/* line 347, ../scss/main.scss */
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}

/* line 356, ../scss/main.scss */
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}

/* line 370, ../scss/main.scss */
.newsletter-box {
  overflow: hidden;
}

/* line 374, ../scss/main.scss */
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

/* line 379, ../scss/main.scss */
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

/* line 401, ../scss/main.scss */
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

/* line 409, ../scss/main.scss */
.social li a {
  color: #EDEFF1;
}

/* line 413, ../scss/main.scss */
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

/* line 418, ../scss/main.scss */
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

/* line 424, ../scss/main.scss */
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 431, ../scss/main.scss */
.footer-bottom p.pull-left {
  padding-top: 6px;
}

/* line 435, ../scss/main.scss */
.payments {
  font-size: 1.5em;
}

/* line 439, ../scss/main.scss */
.wrapper.login {
  width: 350px;
}
