@charset "UTF-8";
@font-face {
  font-family: 'BebasNeue';
  src: url("fonts/BEBAS.eot");
  src: local("Ôÿ║"), url("fonts/BEBAS.woff") format("woff"), url("fonts/BEBAS.ttf") format("truetype"), url("fonts/BEBAS.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../scss/main.scss */
#main {
  margin: 0 auto;
}

/* line 28, ../scss/main.scss */
#white {
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
}

/* line 33, ../scss/main.scss */
#turquoise {
  color: #46b29d;
  font-family: 'BebasNeue', sans-serif;
}

/* line 38, ../scss/main.scss */
.navbar {
  margin: 0 auto;
  background-color: #e0dcda;
  font-family: 'BebasNeue', sans-serif;
  border: none;
}
/* line 44, ../scss/main.scss */
.navbar .navbar-nav {
  width: 100%;
  text-align: center;
}
/* line 47, ../scss/main.scss */
.navbar .navbar-nav > li {
  float: none;
  display: inline-block;
}
/* line 50, ../scss/main.scss */
.navbar .navbar-nav > li > a {
  color: #000;
}
/* line 54, ../scss/main.scss */
.navbar .navbar-nav .navbar-right {
  float: right;
}
/* line 59, ../scss/main.scss */
.navbar .navbar-default {
  width: 100%;
  text-align: center;
}
/* line 62, ../scss/main.scss */
.navbar .navbar-default > li {
  float: none;
  display: inline-block;
}
/* line 67, ../scss/main.scss */
.navbar .navbar-default > .active {
  background-color: #fff;
}

/* line 73, ../scss/main.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
  color: #46b29d;
}

/* line 80, ../scss/main.scss */
header {
  background-color: #000;
  font-family: 'BebasNeue', sans-serif;
}
/* line 83, ../scss/main.scss */
header .inner {
  margin: 0 auto;
  width: 100%;
  display: block;
}
/* line 90, ../scss/main.scss */
header .btn {
  background-color: #000;
  border: none;
  font-size: 11.5pt;
  float: right;
}
/* line 95, ../scss/main.scss */
header .btn:hover {
  background-color: #000;
}

/* line 101, ../scss/main.scss */
main {
  background-color: #f2f2f2;
}

/* line 106, ../scss/main.scss */
.toast-success {
  background-color: #dff0d8;
}

/* line 107, ../scss/main.scss */
.toast-error {
  background-color: #f2dede;
}

/* line 111, ../scss/main.scss */
.full {
  width: 100%;
}

/* line 114, ../scss/main.scss */
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

/* line 122, ../scss/main.scss */
footer {
  background: #000;
  font-family: 'BebasNeue', sans-serif;
  padding: 50px;
  min-height: auto;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}
/* line 132, ../scss/main.scss */
footer ul {
  list-style-type: none;
  padding: auto;
}
/* line 136, ../scss/main.scss */
footer ul #social {
  display: flex;
  align-items: center;
}
/* line 142, ../scss/main.scss */
footer li {
  float: left;
  padding-left: 100px;
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  height: auto;
  display: inline-block;
}
/* line 149, ../scss/main.scss */
footer li a {
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  font-size: 10.5pt;
  display: block;
  text-align: center;
  overflow: hidden;
}
/* line 156, ../scss/main.scss */
footer li a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 166, ../scss/main.scss */
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

/* line 173, ../scss/main.scss */
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}

/* line 181, ../scss/main.scss */
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}

/* line 194, ../scss/main.scss */
.newsletter-box {
  overflow: hidden;
}

/* line 197, ../scss/main.scss */
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

/* line 201, ../scss/main.scss */
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

/* line 222, ../scss/main.scss */
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

/* line 229, ../scss/main.scss */
.social li a {
  color: #EDEFF1;
}

/* line 232, ../scss/main.scss */
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

/* line 236, ../scss/main.scss */
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

/* line 241, ../scss/main.scss */
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 247, ../scss/main.scss */
.footer-bottom p.pull-left {
  padding-top: 6px;
}

/* line 250, ../scss/main.scss */
.payments {
  font-size: 1.5em;
}

/* line 254, ../scss/main.scss */
.wrapper.login {
  width: 350px;
}
